.event_wrapper {
  width: 200px;
  // border: 2px solid gold;
  position: relative;
  height: 60px;

  .event {
    display: flex;
    justify-content: space-between;
    background: #e2ecf5;
    border-left: 2px solid #6e9ecf;
    position: absolute;
    font-size: 14px;

    .event_remove {
      cursor: pointer;
      margin: 5px;
    }
  }
}
