.events_container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 200px;
    position: relative;

    .event {
        display: flex;
        justify-content: flex-start;
        position: absolute;
        background: #E2ECF5;
        border-left: 2px solid #6E9ECF;
        width: 100%;
    }
}