.event_wrapper {
    width: 200px;
    // border: 2px solid gold;
    position: relative;
    height: 60px;

    .event {
      background:#E2ECF5;
      border-left: 2px solid #6E9ECF;
      position: absolute;
      font-size: 14px;
    }
  }