.calendar_container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 92.8vh;

  .calendar {
    display: flex;
    width: 480px;

    .calendar_meridiem {
      width: 100%;
    }
  }
}